log_path: %root_dir%/deploy.log

macros:
    macroName:
        - cmd1
        - cmd2

envs:
    envName:
        path: /path/to/git/folder
        commands:
            - mysqldump
            - git reset --hard HEAD
            - git pull
            - ./app/console doctrine:migrations:migrate
            - %macroName%
        #rollback: optional
            #- git reset --hard HEAD~10

childs:
    serverName:
        host: hostname.tld
        path: /path/to/tower/folder
